{% extends 'bootstrap/base.html' %}
{% block title %}
        GameStore
{% endblock %}
{% block styles %}
{{super()}}
<!--BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
{% endblock %}
{% block scripts %}
   <script src="{{url_for('static',filename='js/eliminarJuego.js')}}"></script>     
    <script src="{{url_for('static',filename='js/eliminarCategoria.js')}}"></script>     
   {{super()}}  
   
{% endblock %}

{% block navbar %}
    <header>
        <h1 class="tituloHeader">GameStore - Videojuegos en Linea</h1>
    </header>   
    {% include 'menu.html' %}
{% endblock %}
{% block content %}
    {%block contenido%}
    {%endblock%}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://code.jquery.com/jquery.js"></script>

<!--<script src="js/bootstrap.min.js"></script>-->


{% endblock %}
