{%extends 'base.html'%}
    {%block titulo%}
    Iniciar Sesion
    {%endblock%}
{%block contenido%}
    <h1>Bienvenido a GameStore, ingresa tus datos</h1>
    <form action="/validar" method="post">
        <p>Ingresa tu correo
        <input type="email" name="correo" id=""></p>
        <p>Ingresa tu contraseña
        <input type="password" name="contrasena" id=""></p>
        <input type="submit" value="Iniciar">
    </form>
    <a class="linkButton" href="/registrarUsuario">Registrarme</a>
    <p>{{aviso}}</p>
{%endblock%}